<!DOCTYPE html>
<html>
<lang="en">
  <meta charset="UTF-8">
  <title>To-do-list App?</title>
  <link rel="stylesheet" type="text.css" href="app.css">
</head>
<body ng-app="todoApp" ng-controller="todoController" class="container">
<div class="row-fluid">
  <div class="col-md-8 col-md-offset-2">
    {{helloWorld}}
    <div class="jumbotron">
      <h1>What needs to be done?</h1>
      <form ng-submit="addTodo()">
        <div class="input-group input-group-lg">
          <input type="text" ng-model="newTask" class="form-control input-lg" /></br>{{newTask}}
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Add Task</button>
          </span>
        </div>
        </div>
      </form>
    <div>
    </div>
    <div id="taskList" class="list-group">
      <div ng-repeat="task in taskList" class="list-group-item">
        <label class="description" ng-class="{strike: task.done}">
          <input type="checkbox" ng-model="task.done"/>
          {{task.description}}
        </label>
        <button ng-click="deleteTodo($index)" class="btn btn-primary">Delete Task</button>
      </div>
    </div>
    <span id="todo-count">
      <h4>{{pendingCount}}</h4>
      <ng-pluralize count="pendingCount" when="{one: 'item left', other: 'items left' }"></ng-pluralize>
      <button id="clearTasks" ng-show="pendingCount < taskList.length" ng-click="clearCompleted()" class="btn btn-default"> Clear Completed {{taskList.length - pendingCount}}</button>
    </span>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="bootstrap.css">
<script src="app.js"></script>
<script src="controller.js"></script>
<script src="angular-animate.js"></script>
</body>
</html>